@@include('set-password-modal.html')

@@include('email-confirm-modal.html')

<div class="notification bg-red_75">
    <span>Не все поля заполнены</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
</div>

<div class="notification bg-green_80">
    <span>Почта подтверждена</span>
    <img src="img/buttons/account-menu-close.svg" alt="Почта подтверждена">
</div>