<p class="text-center text-sm md:text-base max-w-[170px] mx-auto md:max-w-none mb-5">
    Пожалуйста, загрузите следующие фотографии
</p>

<div class="flex flex-col md:flex-row flex-wrap md:justify-center lg:justify-start gap-5 md:gap-7 w-fit mx-auto mb-10">
    @@include('uploaded-photo-item.html', {
        "title": "Селфи с паспортом",
        "image": "img/selfie-example.png",
        "modal": "upload-selfie"
    })
    @@include('uploaded-photo-item.html', {
        "title": "Первый разворот паспорта",
        "image": "img/selfie-example.png",
        "modal": "upload-passport-1"
    })
    @@include('uploaded-photo-item.html', {
        "title": "Разворот с регистрацией",
        "image": "img/selfie-example.png",
        "modal": "upload-passport-2"
    })

</div>