.account-banner {
    -webkit-box-shadow: 0px 0px 74px 58px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 74px 58px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 74px 58px rgba(255, 255, 255, 1);
}
.schedule-row {
    @apply flex items-center justify-between py-5 px-10;

    &__item {
        @apply flex items-center justify-between w-full font-semibold basis-1/3 md:block md:font-normal;

        &:last-child {
            @apply basis-2/12 lg:basis-[10%] text-right whitespace-nowrap;
        }
    }
    &:nth-child(even) {
        @apply bg-white md:bg-lightgray
    }
}
