@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}



body {
    font-family: 'Inter', serif;
    width: 100vw;
}
div.container {
    @apply px-2.5;

}
.notification {
    @apply fixed top-5 md:top-40 left-5 md:left-auto right-5 md:right-36 bg-red_75  text-white rounded-lg backdrop-blur-sm px-2.5 py-5 flex items-center justify-between gap-2 w-[calc(100vw-40px)] md:w-fit cursor-pointer hidden
}