@font-face {
  font-family: 'Inter';
  src: url("../fonts/Inter-VariableFont_slnt\,wght.ttf");
}



body {
    font-family: 'Inter', serif;
    width: 100vw;
}
.container {
    @apply m-auto lg:max-w-7xl px-2.5;

}
footer .container {
    @apply p-10
}
.notification {
    @apply fixed top-40 right-36 bg-red_75  text-white rounded-lg backdrop-blur-sm px-2.5 py-5 flex items-center gap-2 hidden cursor-pointer
}