.form-item {
    label {
        @apply block text-sm lg:text-xl mb-2.5;
    }
    input {
        @apply h-[60px] w-full bg-lightgray p-2.5 border-none rounded-md text-black focus:ring-black hover:ring-gray hover:text-black;
    }
    textarea {
      @apply w-full bg-lightgray p-2.5 border-none rounded-md text-black focus:ring-black hover:ring-gray hover:text-black;
    }
    .payment-input {
      @apply w-full h-[70px] border border-solid border-darkgray bg-white rounded-md font-semibold md:font-medium text-center md:text-2xl;
    }
}


label {
    @apply flex items-start gap-1 text-sm
}
input[type="checkbox"],
input[type="radio"] {
  @apply hidden;
}

.custom-checkbox {
  @apply inline-block relative -top-1 cursor-pointer
}

.custom-checkbox::before {
  content: '';
  background-image: url('../img/icons/checkbox_big_empty.svg');
  @apply relative top-0 inline-block w-7 h-7 rounded-sm mr-1.5 transition-all;
}

.custom-checkbox::after {
  content: '';
  background-image: url('../img/icons/checkbox_big_checked.svg');
  @apply absolute top-0 left-0 w-7 h-7 invisible;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  @apply visible;
}

/* Кастомный input[type="radio"] */
.custom-radio {
  @apply inline-block relative cursor-pointer;
}

.custom-radio::before {
  content: '';
  @apply relative top-1 inline-block w-5 h-5 mr-1 border-2 border-black rounded-full;
}

.custom-radio::after {
  content: '';
  @apply absolute top-3 left-1.5 bg-accent rounded-full w-2 h-2 invisible
}

input[type="radio"]:checked {
  & + .custom-radio::after {
    @apply visible;
  }
}

// кастомный селект
.custom-select {
  @apply relative w-full;

  &__head {
    @apply h-[60px] p-5 font-medium leading-5 bg-lightgray text-gray_text rounded-md flex items-center justify-between border border-lightgray cursor-pointer text-lg lg:text-base;

    &.selected {
      @apply text-black;
    }

    svg {
      @apply transition-all;
    }
  }

  &__options {
    @apply absolute top-full left-0 w-full h-fit max-h-0 rounded-b-lg bg-white shadow-md transition-all overflow-hidden z-[200];

    &.columned {
      column-count: 2;
      column-gap: 20px;
      @media (max-width: 768px) {
        column-count: 1;
      }

      label {
        @apply flex justify-between items-center w-full;
      }
    }

    .custom-option {
      @apply flex items-center justify-start py-2.5 px-10 transition-all break-inside-avoid cursor-pointer;

      img {
        margin-right: 15px;
      }

      &:hover {
        @apply bg-lightgray;
      }

      &[selected] {
        @apply bg-lightgray;
      }

      @media (max-width:991px) {
        @apply text-lg py-2.5 px-5;
        img {
          @apply w-[24px];
        }
      }

      @media (max-width: 768px) {
        @apply text-sm;
      }
    }
  }


  &.active {
    .custom-select__head {
      @apply rounded-t-lg border-darkgray shadow-md;
      
      svg {
        @apply rotate-180;
      }
    }

    .custom-select__options {
      @apply max-h-[500px]
    }
  }
}

// чекбокс - switch

.checkbox-switch {
  @apply flex items-center leading-5 relative text-lg select-none;

  @media (max-width: 768px) {
    @apply text-base; 
  }
}
.checkbox-switch .checkbox-switch-mask {
  @apply relative inline-block box-border w-10 h-[21px] rounded-[25%/50%] align-top bg-darkgray transition-all;
}
.checkbox-switch .checkbox-switch-mask:before {
	content: '';
  @apply absolute top-[1px] left-[1px] inline-block w-[19px] h-[19px] rounded-full bg-white transition-all;
}
.checkbox-switch input[type=checkbox] {
  @apply block w-0 h-0 absolute -z-10 opacity-0;
}
.checkbox-switch input[type=checkbox]:checked + .checkbox-switch-mask {
  @apply bg-lightgreen;
}
.checkbox-switch input[type=checkbox]:checked + .checkbox-switch-mask:before {
  @apply translate-x-[19px];
}
 
/* Hover */
.checkbox-switch input[type="checkbox"] + .checkbox-switch-mask {
	cursor: pointer;
}


.loaded-files__item {
  @apply bg-lightgray rounded-md flex items-center justify-between text-black p-3 text-xl basis-[calc(50%-10px)] max-w-[calc(50%-10px)] mb-5;

  .appeal-file {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    @apply w-4/5 overflow-hidden text-ellipsis;
  }

  @media (max-width:768px) {
    @apply basis-full max-w-full text-base;
  }
}
.delete-file {
  @apply cursor-pointer;
}