.form-item {
    label {
        @apply block text-sm lg:text-xl mb-2.5;
    }
    input {
        @apply h-[60px] w-full bg-lightgray p-2.5 border-none rounded-md text-black focus:ring-black hover:ring-gray hover:text-black;
    }
    textarea {
      @apply w-full bg-lightgray p-2.5 border-none rounded-md text-black focus:ring-black hover:ring-gray hover:text-black;
    }
    .payment-input {
      @apply w-full h-[70px] border border-solid border-darkgray bg-white rounded-md font-semibold md:font-medium text-center md:text-2xl;
    }
}


label {
    @apply flex items-start gap-1 text-sm
}
input[type="checkbox"],
input[type="radio"] {
  @apply hidden;
}

.custom-checkbox {
  @apply inline-block relative -top-1 cursor-pointer
}

.custom-checkbox::before {
  content: '';
  background-image: url('../img/icons/checkbox_big_empty.svg');
  @apply relative top-0 inline-block w-7 h-7 rounded-sm mr-1.5 transition-all;
}

.custom-checkbox::after {
  content: '';
  background-image: url('../img/icons/checkbox_big_checked.svg');
  @apply absolute top-0 left-0 w-7 h-7 invisible;
}

input[type="checkbox"]:checked + .custom-checkbox::after {
  @apply visible;
}

/* Кастомный input[type="radio"] */
.custom-radio {
  @apply inline-block relative cursor-pointer;
}

.custom-radio::before {
  content: '';
  @apply relative top-1 inline-block w-5 h-5 mr-1 border-2 border-black rounded-full;
}

.custom-radio::after {
  content: '';
  @apply absolute top-3 left-1.5 bg-accent rounded-full w-2 h-2 invisible
}

input[type="radio"]:checked {
  & + .custom-radio::after {
    @apply visible;
  }
}

// кастомный селект
.custom-select {
  position: relative;
  width: 100%;

  &__head {
    height: 60px;
    padding: 20px;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
    background-color: #F4F5F7;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F4F5F7;
    cursor: pointer;

    &.selected {
      color: #191919 !important;
    }

    @media (max-width:991px) {
      font-size: 18px;
      // padding: 10px 20px;
    }

    svg {
      transition: all 0.4s ease;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: fit-content;
    max-height: 0;
    border-radius: 0 0 10px 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: max-height 0.4s ease;
    overflow: hidden;
    z-index: 200;

    &.columned {
      column-count: 2;
      column-gap: 20px;
      @media (max-width: 768px) {
        column-count: 1;
      }

      label {
        @apply flex justify-between items-center w-full;
      }
    }

    .custom-option {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 40px;
      transition: all 0.4s ease;
      break-inside: avoid;
      cursor: pointer;

      img {
        margin-right: 15px;
      }

      &:hover {
        background-color: #F4F5F7;
      }

      &[selected] {
        background-color: #F4F5F7;
      }

      @media (max-width:991px) {
        font-size: 18px;
        padding: 10px 20px;

        img {
          width: 24px;
        }
      }

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }


  &.active {
    .custom-select__head {
      border-radius: 10px 10px 0 0;
      border: 1px solid #D9D9D9;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

      svg {
        transform: rotate(180deg);
      }
    }

    .custom-select__options {
      max-height: 500px;
    }
  }
}

// чекбокс - switch

.checkbox-switch {
	display: flex;
  align-items: center; 
	line-height: 21.6px;
	position: relative;
	font-size: 18px;
	user-select: none;	
  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 19.2px;
  }
}
.checkbox-switch .checkbox-switch-mask {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 40px;	
	height: 21px;
	border-radius: 25%/50%;	
	vertical-align: top;
	background: #D9D9D9;
	transition: all 0.4s ease;
}
.checkbox-switch .checkbox-switch-mask:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;	
	display: inline-block;
	width: 19px;	
	height: 19px;
	border-radius: 50%;
	background: white;
	transition: all 0.4s ease;
}
.checkbox-switch input[type=checkbox] {
	display: block;	
	width: 0;
	height: 0;	
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.checkbox-switch input[type=checkbox]:checked + .checkbox-switch-mask {
	background: #6BD390;
}
.checkbox-switch input[type=checkbox]:checked + .checkbox-switch-mask:before {
	transform:translateX(19px);
}
 
/* Hover */
.checkbox-switch input[type="checkbox"] + .checkbox-switch-mask {
	cursor: pointer;
}
 
/* Focus */
.checkbox-switch.focused .checkbox-switch-mask:before {
	box-shadow: inset 0px 0px 4px #ff5623;
}

.loaded-files__item {
  background-color: #F4F5F7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #191919;
  padding: 13px;
  font-size: 20px;
  flex-basis: calc(50% - 10px);
  max-width: calc(50% - 10px);;
  margin-bottom: 20px;

  .appeal-file {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width:768px) {
    flex-basis: 100%;
    max-width: 100%;
    font-size: 16px;
  }
}
.delete-file {
  cursor: pointer;
}